#  CHAT BOT

Importing basic numpy , matplotlib , pandas libraries for array functionalities and dataframe operations 
Importing Datetime , dateutil for date time analysis and operations . dparser to identify date i the format of YYYY-MM-DD
Importing Pyspark to perform SQL queries in a fast manner

Pysaprk is used as it provides very effective and fast dataframe processing using RDD 




isSubstring(s1, s2):   checks for Substring of s1 from s2 

date_find(c):          checks what date the users wants to analyze the data , c is an input String by default todat 

numer(i):              checks how the date is embedded with number of prior week and months , where both present will take the most recent

In [77]:
### Importing Data Analytical Libraries

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pyspark.sql import SparkSession
import time
from datetime import date
from datetime import datetime
from datetime import timedelta
from dateutil.relativedelta import relativedelta
import dateutil.parser as dparser
today = date.today()

#dataset = pd.read_csv('Admission_Predict.csv')
spark = SparkSession.builder.getOrCreate()
#dataset_ps = spark.createDataFrame(dataset)

def isSubstring(s1, s2): 
    M = len(s1) 
    N = len(s2) 
  
    # A loop to slide pat[] one by one  
    for i in range(N - M + 1): 
  
        # For current index i, 
        # check for pattern match  
        for j in range(M): 
            if (s2[i + j] != s1[j]): 
                break
              
        if j + 1 == M : 
            return i 
  
    return -1

def date_find(c):
    t=today
    #print(len(c))
    for i in range(0,len(c)):
         if c[i] =='today':
            t=t 
            return t;
            #print(t)
         elif c[i] =='yesterday':
            t=t+timedelta(days=-1)
            #print(t)
            return t;
         elif c[i] == 'week':
            y=numer(i)
            t=t+timedelta(weeks=-1*y)
            #print(t)
         elif c[i] == 'month':
            y=numer(i)
            t=t+relativedelta(months=-1*y)
            #print(t)
         elif c[i] == 'year':
            y=numer(i)
            t=t+relativedelta(years=-1*y)
            #print(t)
        
    return t;


def date_spec_find(c):
    list1 =[]
    lt1=''
    for i in range (0,len(c)):
        try:
            dt = dparser.parse(c[i],fuzzy =True).date()
            dt=str(dt)
            list1.append(dt)
            lt1=lt1+"'"+str(c[i])+" 00:00:00'"+","
        except:
            dt = 0
            
    lt1=lt1[0:(len(lt1)-1)]
    return lt1


def numer(i):
    num ={
        "one":1,
        "first":1,
        "two":2,
        "second":2,
        "three":3,
        "third":3,
        "four":4,
        "fourth":4,
        "fifth":5,
        "five":5,
        "six":6,
        "sixth":6,
        "seven":7,
        "seventh":7,
        "eight":8,
        "eighth":8,
        "nine":9,
        "ninth":9
    }
    #print(num)
    for j in range(0,i):
            #print(c[j])
            if c[j] in num:
                #print("hgghhj")
                a= num[c[j]]
            else:
                a=0     
        
    if a==0:
        return 1
    else:
        return a
                
### Basic analysis : -- >(Data understanding)
print('ARTICLES -- > ')
df=spark.read.csv('articles.csv',inferSchema=True,header=True)
df.show(10,False)
print('HIERARCHY -- > ')
df1=spark.read.csv('hierarchy.csv',inferSchema=True,header=True)
df1.show(10,False)
print('BILLS -- > ')
df2=spark.read.csv('bills.csv',inferSchema=True,header=True)
df2.show(10,False)

### Removing Deplicacy: ---> (DATA PREPROCESSING )
df.dropDuplicates().createOrReplaceTempView("Article")
df1.dropDuplicates().createOrReplaceTempView("Hierarchy")
df2.dropDuplicates().createOrReplaceTempView("Bills")


### Checking for catalog list in Spark SQL DATABASE
print(spark.catalog.listTables())

### Creating Categorical Variable DataFrame category_name
qu = "select distinct category_name from hierarchy"
category_name = spark.sql(qu)
category_name.show()

### Creating Categorical Variable DataFrame subcategory_name
qu1 = "select distinct subcategory_name from hierarchy"
subcategory_name = spark.sql(qu1)
subcategory_name.show()

### Creating Categorical Variable DataFrame brand_name
qu2 = "select distinct brand_name from hierarchy"
brand_name = spark.sql(qu2)
brand_name.show()


### Analysis (Data Testing (if Required))
#query = "select sum(total_price) from bills where sale_date = '2018-07-07 00:00:00'"
#f = spark.sql(query)
#f.show()
#

#query1 ="select sum(total_price) from hierarchy as h join bills as b where h.article_id = b.article_id and brand_name = 'parle' "
#query1 = "select sum(total_price) from bills where article_id in(select article_id  from  hierarchy where brand_name = 'parle') "
#f1 = spark.sql(query1)
#f1.show()
#

#query = "SELECT * from bills where sale_date = '"+str(t)+" 00:00:00'  "
#f = spark.sql(query)
#f.show()
#

#query = "SELECT count(*) from bills   "
#f = spark.sql(query)
#f.show()
#


chatentry = input()
chatentry=" "+chatentry+" "
chatentry=chatentry.lower()
c=chatentry.split();


### Variable Understanding
# tp corresponds to total price or sales presence as 1 or 0
# qt corresponds to quantity presence as 1 or 0
# nm corresponds to number of sales presence as 1 or 0
# c1 corresonds to the list of categorical variables presents checked from dataframe df
# subc corresonds to the list of sub-categorical variables presents checked from dataframe df1
# bn1 corresonds to the list of brand variables presents checked from dataframe df2
#cn corresponds to categorical Variables presence as 1 or 0
#scn corresponds to sub categorical Variable presence as 1 or 0
#bn corresponds to brand Variable presence as 1 or 0
#gbn corrsponds to the list broken to '' seprated by , of brand list bn1
#ebn corrsponds to the list broken to '' seprated by , of sub-categorical list subc
#cbn corrsponds to the list broken to '' seprated by , of categorical list bc1
topa=0
topb=0
tp=0
nm=0
qt=0
cn=0
scn=0
bn=0
gbn=''
ebn=''
cbn=''
c1=[]
subc=[]
bn1=[]


### Converting Data frames to Pandas so that we can work with pandas dataframe in easier and computationally faster fashion
#df is categorical
#df1 is sub-categorical
#df2 is brand

df=category_name.toPandas() 
df1=subcategory_name.toPandas()
df2=brand_name.toPandas()

### Finding Date in variable t and dt 

dt=date_spec_find(c)
t=date_find(c)

### Finding attributes for check
for i in range (0,len(c)):
    #print(i)
    if c[i] in 'sales':
        tp=1
    elif c[i] in 'number':
        nm=1
    elif c[i] in 'totalprice':
        tp=1
    elif c[i]=='quantity':
        qt=1   
    elif c[i]=='top':
        #print(c[i+1])
        if c[i+1] in['article','articles']:
            topa =1
        elif c[i+1] in ['brands','brand']:
            topb =1
        
        
### Finding Categorical Variable List and String
for row in df.iterrows():
    s=" "+str(row[1][0])+" "
    if isSubstring(s, chatentry) != -1:
        cn=1
        print(row[1][0])
        c1.append(row[1][0])
        cbn=cbn+"'"+str(row[1][0])+"'"+","
        
        
### Finding Sub-Categorical Variable List and String
for row in df1.iterrows():
    s1=" "+str(row[1][0])+" "
    if isSubstring(s1, chatentry) != -1:
       scn=1
       #print(row[1][0])
       subc.append(row[1][0])
       ebn=ebn+"'"+str(row[1][0])+"'"+","
        
        
### Finding Brand Variable List and String
for row in df2.iterrows():
    s2=" "+str(row[1][0])+" "
    if isSubstring(s2, chatentry) != -1:
       bn=1
       #print(row[1][0])
       bn1.append(row[1][0])
       gbn=gbn+"'"+str(row[1][0])+"'"+","
       
        
        

### Removing The last , from all categorical , sub -categorical and bramd variables 
gbn=gbn[0:(len(gbn)-1)]
ebn=ebn[0:(len(ebn)-1)]
cbn=cbn[0:(len(cbn)-1)]


### check list of findings : ---> 
#print(dt)
#print(t)
#print(tp)
#print(nm)
#print(qt)
#print(cn)
#print(scn)
#print(bn)
#print(bn1)
#print(subc)        
#print(c1)
#print(gbn)
#print(ebn)
#print(cbn)
#print(topa)
#print(topb)

top brands on 2018-07-01
'2018-07-01 00:00:00'
2019-03-07
0
0
0
0
0
0
[]
[]
[]



0
1

#  Basic Queries

Understanding about articles and brands depending on whether date is present or is given in terms of weeks years today or yesterday we constitute 4 queries which also provide a solution if at all more one extraneos dates are given as in provides a list solution to it 

we have subdivided the main code to two sub parts denodet by dt is dt =0 ie extraneous date  is absent we proceed checking condition of presence of bn scn cn etc using the flag variables and similarly use between and in function to activate the query 
similarly id dt !=0 then we convert dt to t which is our date variable which further goes into the same queries .
This is noting but an effective way to check the presence of brand name , sub brand name , category name or none of them presence in date given or date not given case .

In [ ]:
if topa == 1 and dt == 0 :
    query = "(select article_id , sum(total_price) as tp  from  bills where sale_date >= '"+str(t)+"' group by article_id)"
    f = spark.sql(query) 
    #f.show()
    f.dropDuplicates().createOrReplaceTempView("totsalesart")
    q = " select article_id , sum(total_price) , a.name from article as a join bills as b where b.article_id = a.id and  sale_date >= '"+str(t)+"' group by b.article_id,a.name having sum(total_price) = (select max(tp) from totsalesart order by max(tp) desc) "
    f = spark.sql(q) 
    f.show()
    
    
elif topb == 1 and dt == 0 :
    query = "(select article_id , sum(total_price) as tp  from  bills where sale_date >= '"+str(t)+"' group by article_id)"
    f = spark.sql(query) 
    #f.show()
    f.dropDuplicates().createOrReplaceTempView("totsalesbrnd")
    q = " select b.article_id , sum(total_price) , a.brand_name from hierarchy as a join bills as b where b.article_id = a.article_id and  sale_date >= '"+str(t)+"' group by b.article_id,a.brand_name having sum(total_price) = (select max(tp) from totsalesbrnd order by max(tp) desc) "
    f = spark.sql(q) 
    f.show()
    
    
elif topa ==1 and dt !=0:
    t=dt
    query = "(select article_id , sum(total_price) as tp  from  bills where sale_date in ("+str(t)+") group by article_id)"
    f = spark.sql(query) 
    #f.show()
    f.dropDuplicates().createOrReplaceTempView("totsalesart")
    q = " select article_id , sum(total_price) , a.name from article as a join bills as b where b.article_id = a.id and  sale_date in ("+str(t)+") group by b.article_id,a.name having sum(total_price) = (select max(tp) from totsalesart order by max(tp) desc) "
    f = spark.sql(q) 
    f.show()
    
    
elif topb==1 and dt !=0:
    t=dt
    query = "(select article_id , sum(total_price) as tp  from  bills where sale_date in ("+str(t)+") group by article_id)"
    f = spark.sql(query) 
    #f.show()
    f.dropDuplicates().createOrReplaceTempView("totsalesbrnd")
    q = " select b.article_id , sum(total_price) , a.brand_name from hierarchy as a join bills as b where b.article_id = a.article_id and  sale_date in ("+str(t)+") group by b.article_id,a.brand_name having sum(total_price) = (select max(tp) from totsalesbrnd order by max(tp) desc) "
    f = spark.sql(q) 
    f.show()
    
    
    
    


if dt == 0:

    #cn + scn + bn 
    # number
    if cn==1 and scn==1 and bn==1 and nm==1:
        query = "SELECT count(*),h.brand_name  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date >= '"+str(t)+" 00:00:00' and h.subcategory_name in ("+str(ebn)+") and h.category_name in ("+str(cbn)+") and h.brand_name in ("+str(gbn)+") group by b.article_id , h.brand_name "
        #print(query)
        f = spark.sql(query)
        f.show()

    #cn + scn + bn 
    # qunatity + total price
    if cn==1 and scn==1 and bn==1 and tp==1 and qt==1 and nm==0:
        query = "SELECT sum(quantity) , sum(total_price),h.brand_name  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date >= '"+str(t)+" 00:00:00' and h.subcategory_name in ("+str(ebn)+") and h.category_name in ("+str(cbn)+") and h.brand_name in ("+str(gbn)+") group by b.article_id , h.brand_name "
        f = spark.sql(query)
        f.show()

    #cn + scn + bn 
    #  total price
    if cn==1 and scn==1 and bn==1 and tp==1 and qt==0:
        query = "SELECT sum(total_price),h.brand_name  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date >= '"+str(t)+" 00:00:00' and h.subcategory_name in ("+str(ebn)+") and h.category_name in ("+str(cbn)+") and h.brand_name in ("+str(gbn)+") group by b.article_id , h.brand_name "
        f = spark.sql(query)
        f.show()
    #cn + scn + bn
    # quantity
    if cn==1 and scn==1 and bn==1 and tp==0 and qt==1:
        query = "SELECT sum(quantity),h.brand_name  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date >= '"+str(t)+" 00:00:00' and h.subcategory_name in ("+str(ebn)+") and h.category_name in ("+str(cbn)+") and h.brand_name in ("+str(gbn)+") group by b.article_id , h.brand_name "
        f = spark.sql(query)
        f.show()








    #cn + bn
    if cn==1 and scn==0 and bn==1 and nm==1:
        query = "SELECT count(*),h.brand_name  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date >= '"+str(t)+" 00:00:00'  and h.category_name in ("+str(cbn)+") and h.brand_name in ("+str(gbn)+") group by b.article_id , h.brand_name "
        #print(query)
        f = spark.sql(query)
        f.show()

    #cn  + bn 
    # qunatity + total price
    if cn==1 and scn==0 and bn==1 and tp==1 and qt==1 and nm==0:
        query = "SELECT sum(quantity) , sum(total_price),h.brand_name  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date >= '"+str(t)+" 00:00:00'  and h.category_name in ("+str(cbn)+") and h.brand_name in ("+str(gbn)+") group by b.article_id , h.brand_name "
        f = spark.sql(query)
        f.show()

    #cn  + bn 
    #  total price
    if cn==1 and scn==0 and bn==1 and tp==1 and qt==0:
        query = "SELECT sum(total_price),h.brand_name  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date >= '"+str(t)+" 00:00:00'  and h.category_name in ("+str(cbn)+") and h.brand_name in ("+str(gbn)+") group by b.article_id , h.brand_name "
        f = spark.sql(query)
        f.show()
    #cn  + bn
    # quantity
    if cn==1 and scn==0 and bn==1 and tp==0 and qt==1:
        query = "SELECT sum(quantity),h.brand_name  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date >= '"+str(t)+" 00:00:00'  and h.category_name in ("+str(cbn)+") and h.brand_name in ("+str(gbn)+") group by b.article_id , h.brand_name "
        f = spark.sql(query)
        f.show()







    # scn + bn 
    # number
    if cn==0 and scn==1 and bn==1 and nm==1:
        query = "SELECT count(*),h.brand_name  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date >= '"+str(t)+" 00:00:00' and h.subcategory_name in ("+str(ebn)+")  and h.brand_name in ("+str(gbn)+") group by b.article_id , h.brand_name "
        #print(query)
        f = spark.sql(query)
        f.show()

    # scn + bn 
    # qunatity + total price
    if cn==0 and scn==1 and bn==1 and tp==1 and qt==1 and nm==0:
        query = "SELECT sum(quantity) , sum(total_price),h.brand_name  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date >= '"+str(t)+" 00:00:00' and h.subcategory_name in ("+str(ebn)+")  and h.brand_name in ("+str(gbn)+") group by b.article_id , h.brand_name "
        f = spark.sql(query)
        f.show()

    # scn + bn 
    #  total price
    if cn==0 and scn==1 and bn==1 and tp==1 and qt==0:
        query = "SELECT sum(total_price),h.brand_name  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date >= '"+str(t)+" 00:00:00' and h.subcategory_name in ("+str(ebn)+") and h.category_name in ("+str(cbn)+") and h.brand_name in ("+str(gbn)+") group by b.article_id , h.brand_name "
        f = spark.sql(query)
        f.show()
    # scn + bn
    # quantity
    if cn==0 and scn==1 and bn==1 and tp==0 and qt==1:
        query = "SELECT sum(quantity),h.brand_name  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date >= '"+str(t)+" 00:00:00' and h.subcategory_name in ("+str(ebn)+") and h.category_name in ("+str(cbn)+") and h.brand_name in ("+str(gbn)+") group by b.article_id , h.brand_name "
        f = spark.sql(query)
        f.show()






    #cn + scn 
    # number
    if cn==1 and scn==1 and bn==0 and nm==1:
        query = "SELECT count(*),h.subcategory_name,h.category_name  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date >= '"+str(t)+" 00:00:00' and h.subcategory_name in ("+str(ebn)+") and h.category_name in ("+str(cbn)+")  group by b.article_id , h.subcategory_name,h.category_name "
        #print(query)
        f = spark.sql(query)
        f.show()

    #cn + scn  
    # qunatity + total price
    if cn==1 and scn==1 and bn==0 and tp==1 and qt==1 and nm==0:
        query = "SELECT sum(quantity) , sum(total_price),h.subcategory_name,h.category_name  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date >= '"+str(t)+" 00:00:00' and h.subcategory_name in ("+str(ebn)+") and h.category_name in ("+str(cbn)+")  group by b.article_id,h.subcategory_name,h.category_name "
        f = spark.sql(query)
        f.show()

    #cn + scn  
    #  total price
    if cn==1 and scn==1 and bn==0 and tp==1 and qt==0:
        query = "SELECT sum(total_price),h.subcategory_name,h.category_name  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date >= '"+str(t)+" 00:00:00' and h.subcategory_name in ("+str(ebn)+") and h.category_name in ("+str(cbn)+")  group by b.article_id,h.subcategory_name,h.category_name "
        f = spark.sql(query)
        f.show()
    #cn + scn 
    # quantity
    if cn==1 and scn==1 and bn==0 and tp==0 and qt==1:
        query = "SELECT sum(quantity),h.subcategory_name,h.category_name from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date >= '"+str(t)+" 00:00:00' and h.subcategory_name in ("+str(ebn)+") and h.category_name in ("+str(cbn)+")  group by b.article_id,h.subcategory_name,h.category_name  "
        f = spark.sql(query)
        f.show()






    # scn  
    # number
    if cn==0 and scn==1 and bn==0 and nm==1:
        query = "SELECT count(*),h.subcategory_name  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date >= '"+str(t)+" 00:00:00' and h.subcategory_name in ("+str(ebn)+")  group by b.article_id , h.subcategory_name "
        #print(query)
        f = spark.sql(query)
        f.show()

    #scn
    # qunatity + total price
    if cn==0 and scn==1 and bn==0 and tp==1 and qt==1 and nm==0:
        query = "SELECT sum(quantity) , sum(total_price),h.subcategory_name  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date >= '"+str(t)+" 00:00:00' and h.subcategory_name in ("+str(ebn)+") group by b.article_id , h.subcategory_name "
        f = spark.sql(query)
        f.show()

    #scn 
    #  total price
    if cn==0 and scn==1 and bn==0 and tp==1 and qt==0:
        query = "SELECT sum(total_price),h.subcategory_name  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date >= '"+str(t)+" 00:00:00' and h.subcategory_name in ("+str(ebn)+")  group by b.article_id , h.subcategory_name"
        f = spark.sql(query)
        f.show()
    #scn
    # quantity
    if cn==0 and scn==1 and bn==0 and tp==0 and qt==1:
        query = "SELECT sum(quantity),h.subcategory_name  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date >= '"+str(t)+" 00:00:00' and h.subcategory_name in ("+str(ebn)+")  group by b.article_id , h.subcategory_name "
        f = spark.sql(query)
        f.show()







    #cn 
    # number
    if cn==1 and scn==0 and bn==0 and nm==1:
        query = "SELECT count(*),h.category_name  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date >= '"+str(t)+" 00:00:00'  and h.category_name in ("+str(cbn)+")  group by b.article_id , h.category_name "
        #print(query)
        f = spark.sql(query)
        f.show()

    #cn  
    # qunatity + total price
    if cn==1 and scn==0 and bn==0 and tp==1 and qt==1 and nm==0:
        query = "SELECT sum(quantity) , sum(total_price),h.category_name from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date >= '"+str(t)+" 00:00:00' and h.category_name in ("+str(cbn)+")  group by b.article_id , h.category_name "
        f = spark.sql(query)
        f.show()

    #cn 
    #  total price
    if cn==1 and scn==0 and bn==0 and tp==1 and qt==0:
        query = "SELECT sum(total_price),h.category_name  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date >= '"+str(t)+" 00:00:00'  and h.category_name in ("+str(cbn)+")  group by b.article_id , h.category_name "
        f = spark.sql(query)
        f.show()
    #cn 
    # quantity
    if cn==1 and scn==0 and bn==0 and tp==0 and qt==1:
        query = "SELECT sum(quantity),h.category_name  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date >= '"+str(t)+" 00:00:00' and h.category_name in ("+str(cbn)+") group by b.article_id , h.category_name "
        f = spark.sql(query)
        f.show()






    # bn 
    # number
    if cn==0 and scn==0 and bn==1 and nm==1:
        query = "SELECT count(*) , brand_name  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date >= '"+str(t)+" 00:00:00' and h.brand_name in ("+str(gbn)+") group by b.article_id , brand_name "
        #print(query)
        f = spark.sql(query)
        f.show()

    # bn 
    # qunatity + total price
    if cn==0 and scn==0 and bn==1 and tp==1 and qt==1 and nm==0:
        query = "SELECT sum(quantity) , sum(total_price),brand_name  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date >= '"+str(t)+" 00:00:00' and h.brand_name in ("+str(gbn)+") group by b.article_id , brand_name "
        f = spark.sql(query)
        f.show()

    # bn 
    #  total price
    if cn==0 and scn==0 and bn==1 and tp==1 and qt==0:
        query = "SELECT sum(total_price) ,brand_name  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date >= '"+str(t)+" 00:00:00'  and h.brand_name in ("+str(gbn)+") group by b.article_id , h.brand_name "
        f = spark.sql(query)
        f.show()
    # bn
    # quantity
    if cn==0 and scn==0 and bn==1 and tp==0 and qt==1:
        query = "SELECT sum(quantity) ,brand_name  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date >= '"+str(t)+" 00:00:00'  and h.brand_name in ("+str(gbn)+") group by b.article_id , h.brand_name "
        f = spark.sql(query)
        f.show()




    #all absent
    # number
    if cn==0 and scn==0 and bn==0 and nm==1:
        query = "SELECT count(*)  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date >= '"+str(t)+" 00:00:00'  "
        #print(query)
        f = spark.sql(query)
        f.show()

    # qunatity + total price
    if cn==0 and scn==0 and bn==0 and tp==1 and qt==1 and nm==0:
        query = "SELECT sum(quantity) , sum(total_price)  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date >= '"+str(t)+" 00:00:00'  "
        f = spark.sql(query)
        f.show()

    # bn 
    #  total price
    if cn==0 and scn==0 and bn==0 and tp==1 and qt==0:
        query = "SELECT sum(total_price)   from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date >= '"+str(t)+" 00:00:00'  "
        f = spark.sql(query)
        f.show()
    # bn
    # quantity
    if cn==0 and scn==0 and bn==0 and tp==0 and qt==1:
        query = "SELECT sum(quantity)   from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date >= '"+str(t)+" 00:00:00'  "
        f = spark.sql(query)
        f.show()



        
        
        
        
        

if dt !=0:
    t=dt
    #cn + scn + bn 
    # number
    if cn==1 and scn==1 and bn==1 and nm==1:
        query = "SELECT count(*),h.brand_name,b.sale_date  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date in ("+str(t)+")  and h.subcategory_name in ("+str(ebn)+") and h.category_name in ("+str(cbn)+") and h.brand_name in ("+str(gbn)+") group by b.article_id , h.brand_name,b.sale_date "
        #print(query)
        f = spark.sql(query)
        f.show()

    #cn + scn + bn 
    # qunatity + total price
    if cn==1 and scn==1 and bn==1 and tp==1 and qt==1 and nm==0:
        query = "SELECT sum(quantity) , sum(total_price),h.brand_name,b.sale_date  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date in ("+str(t)+")  and h.subcategory_name in ("+str(ebn)+") and h.category_name in ("+str(cbn)+") and h.brand_name in ("+str(gbn)+") group by b.article_id , h.brand_name,b.sale_date "
        f = spark.sql(query)
        f.show()

    #cn + scn + bn 
    #  total price
    if cn==1 and scn==1 and bn==1 and tp==1 and qt==0:
        query = "SELECT sum(total_price),h.brand_name,b.sale_date  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date in ("+str(t)+") and h.subcategory_name in ("+str(ebn)+") and h.category_name in ("+str(cbn)+") and h.brand_name in ("+str(gbn)+") group by b.article_id , h.brand_name,b.sale_date "
        f = spark.sql(query)
        f.show()
    #cn + scn + bn
    # quantity
    if cn==1 and scn==1 and bn==1 and tp==0 and qt==1:
        query = "SELECT sum(quantity),h.brand_name,b.sale_date  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date in ("+str(t)+") and h.subcategory_name in ("+str(ebn)+") and h.category_name in ("+str(cbn)+") and h.brand_name in ("+str(gbn)+") group by b.article_id , h.brand_name,b.sale_date "
        f = spark.sql(query)
        f.show()








    #cn + bn
    if cn==1 and scn==0 and bn==1 and nm==1:
        query = "SELECT count(*),h.brand_name,b.sale_date  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date in ("+str(t)+")  and h.category_name in ("+str(cbn)+") and h.brand_name in ("+str(gbn)+") group by b.article_id , h.brand_name,b.sale_date "
        #print(query)
        f = spark.sql(query)
        f.show()

    #cn  + bn 
    # qunatity + total price
    if cn==1 and scn==0 and bn==1 and tp==1 and qt==1 and nm==0:
        query = "SELECT sum(quantity) , sum(total_price),h.brand_name,b.sale_date  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date in ("+str(t)+")  and h.category_name in ("+str(cbn)+") and h.brand_name in ("+str(gbn)+") group by b.article_id , h.brand_name,b.sale_date "
        f = spark.sql(query)
        f.show()

    #cn  + bn 
    #  total price
    if cn==1 and scn==0 and bn==1 and tp==1 and qt==0:
        query = "SELECT sum(total_price),h.brand_name,b.sale_date  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date in ("+str(t)+")  and h.category_name in ("+str(cbn)+") and h.brand_name in ("+str(gbn)+") group by b.article_id , h.brand_name,b.sale_date "
        f = spark.sql(query)
        f.show()
    #cn  + bn
    # quantity
    if cn==1 and scn==0 and bn==1 and tp==0 and qt==1:
        query = "SELECT sum(quantity),h.brand_name,b.sale_date  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date in ("+str(t)+")  and h.category_name in ("+str(cbn)+") and h.brand_name in ("+str(gbn)+") group by b.article_id , h.brand_name,b.sale_date "
        f = spark.sql(query)
        f.show()







    # scn + bn 
    # number
    if cn==0 and scn==1 and bn==1 and nm==1:
        query = "SELECT count(*),h.brand_name,b.sale_date  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date in ("+str(t)+") and h.subcategory_name in ("+str(ebn)+")  and h.brand_name in ("+str(gbn)+") group by b.article_id , h.brand_name,b.sale_date "
        #print(query)
        f = spark.sql(query)
        f.show()

    # scn + bn 
    # qunatity + total price
    if cn==0 and scn==1 and bn==1 and tp==1 and qt==1 and nm==0:
        query = "SELECT sum(quantity) , sum(total_price),h.brand_name,b.sale_date  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date in ("+str(t)+") and h.subcategory_name in ("+str(ebn)+")  and h.brand_name in ("+str(gbn)+") group by b.article_id , h.brand_name,b.sale_date "
        f = spark.sql(query)
        f.show()

    # scn + bn 
    #  total price
    if cn==0 and scn==1 and bn==1 and tp==1 and qt==0:
        query = "SELECT sum(total_price),h.brand_name,b.sale_date  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date in ("+str(t)+") and h.subcategory_name in ("+str(ebn)+") and h.category_name in ("+str(cbn)+") and h.brand_name in ("+str(gbn)+") group by b.article_id , h.brand_name,b.sale_date "
        f = spark.sql(query)
        f.show()
    # scn + bn
    # quantity
    if cn==0 and scn==1 and bn==1 and tp==0 and qt==1:
        query = "SELECT sum(quantity),h.brand_name,b.sale_date  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date in ("+str(t)+") and h.subcategory_name in ("+str(ebn)+") and h.category_name in ("+str(cbn)+") and h.brand_name in ("+str(gbn)+") group by b.article_id , h.brand_name ,b.sale_date"
        f = spark.sql(query)
        f.show()






    #cn + scn 
    # number
    if cn==1 and scn==1 and bn==0 and nm==1:
        query = "SELECT count(*),h.subcategory_name,h.category_name,b.sale_date  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date in ("+str(t)+") and h.subcategory_name in ("+str(ebn)+") and h.category_name in ("+str(cbn)+")  group by b.article_id , h.subcategory_name,h.category_name,b.sale_date "
        #print(query)
        f = spark.sql(query)
        f.show()

    #cn + scn  
    # qunatity + total price
    if cn==1 and scn==1 and bn==0 and tp==1 and qt==1 and nm==0:
        query = "SELECT sum(quantity) , sum(total_price),h.subcategory_name,h.category_name,b.sale_date  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date in ("+str(t)+") and h.subcategory_name in ("+str(ebn)+") and h.category_name in ("+str(cbn)+")  group by b.article_id,h.subcategory_name,h.category_name,b.sale_date "
        f = spark.sql(query)
        f.show()

    #cn + scn  
    #  total price
    if cn==1 and scn==1 and bn==0 and tp==1 and qt==0:
        query = "SELECT sum(total_price),h.subcategory_name,h.category_name,b.sale_date  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date in ("+str(t)+") and h.subcategory_name in ("+str(ebn)+") and h.category_name in ("+str(cbn)+")  group by b.article_id,h.subcategory_name,h.category_name,b.sale_date "
        f = spark.sql(query)
        f.show()
    #cn + scn 
    # quantity
    if cn==1 and scn==1 and bn==0 and tp==0 and qt==1:
        query = "SELECT sum(quantity),h.subcategory_name,h.category_name,b.sale_date from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date in ("+str(t)+") and h.subcategory_name in ("+str(ebn)+") and h.category_name in ("+str(cbn)+")  group by b.article_id,h.subcategory_name,h.category_name,b.sale_date  "
        f = spark.sql(query)
        f.show()






    # scn  
    # number
    if cn==0 and scn==1 and bn==0 and nm==1:
        query = "SELECT count(*),h.subcategory_name,b.sale_date  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date in ("+str(t)+") and h.subcategory_name in ("+str(ebn)+")  group by b.article_id , h.subcategory_name,b.sale_date "
        #print(query)
        f = spark.sql(query)
        f.show()

    #scn
    # qunatity + total price
    if cn==0 and scn==1 and bn==0 and tp==1 and qt==1 and nm==0:
        query = "SELECT sum(quantity) , sum(total_price),h.subcategory_name,b.sale_date  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date in ("+str(t)+") and h.subcategory_name in ("+str(ebn)+") group by b.article_id , h.subcategory_name,b.sale_date "
        f = spark.sql(query)
        f.show()

    #scn 
    #  total price
    if cn==0 and scn==1 and bn==0 and tp==1 and qt==0:
        query = "SELECT sum(total_price),h.subcategory_name,b.sale_date  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date in ("+str(t)+") and h.subcategory_name in ("+str(ebn)+")  group by b.article_id , h.subcategory_name,b.sale_date"
        f = spark.sql(query)
        f.show()
    #scn
    # quantity
    if cn==0 and scn==1 and bn==0 and tp==0 and qt==1:
        query = "SELECT sum(quantity),h.subcategory_name,b.sale_date  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date in ("+str(t)+") and h.subcategory_name in ("+str(ebn)+")  group by b.article_id , h.subcategory_name,b.sale_date "
        f = spark.sql(query)
        f.show()







    #cn 
    # number
    if cn==1 and scn==0 and bn==0 and nm==1:
        query = "SELECT count(*),h.category_name,b.sale_date  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date in ("+str(t)+")  and h.category_name in ("+str(cbn)+")  group by b.article_id , h.category_name,b.sale_date "
        #print(query)
        f = spark.sql(query)
        f.show()

    #cn  
    # qunatity + total price
    if cn==1 and scn==0 and bn==0 and tp==1 and qt==1 and nm==0:
        query = "SELECT sum(quantity) , sum(total_price),h.category_name,b.sale_date from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date in ("+str(t)+") and h.category_name in ("+str(cbn)+")  group by b.article_id , h.category_name,b.sale_date "
        f = spark.sql(query)
        f.show()

    #cn 
    #  total price
    if cn==1 and scn==0 and bn==0 and tp==1 and qt==0:
        query = "SELECT sum(total_price),h.category_name,b.sale_date  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date in ("+str(t)+")  and h.category_name in ("+str(cbn)+")  group by b.article_id , h.category_name,b.sale_date "
        f = spark.sql(query)
        f.show()
    #cn 
    # quantity
    if cn==1 and scn==0 and bn==0 and tp==0 and qt==1:
        query = "SELECT sum(quantity),h.category_name,b.sale_date  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date in ("+str(t)+") and h.category_name in ("+str(cbn)+") group by b.article_id , h.category_name,b.sale_date "
        f = spark.sql(query)
        f.show()






    # bn 
    # number
    if cn==0 and scn==0 and bn==1 and nm==1:
        query = "SELECT count(*) , brand_name,b.sale_date  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date in ("+str(t)+") and h.brand_name in ("+str(gbn)+") group by b.article_id , brand_name,b.sale_date "
        #print(query)
        f = spark.sql(query)
        f.show()

    # bn 
    # qunatity + total price
    if cn==0 and scn==0 and bn==1 and tp==1 and qt==1 and nm==0:
        query = "SELECT sum(quantity) , sum(total_price),brand_name,b.sale_date  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date in ("+str(t)+") and h.brand_name in ("+str(gbn)+") group by b.article_id , brand_name,b.sale_date "
        f = spark.sql(query)
        f.show()

    # bn 
    #  total price
    if cn==0 and scn==0 and bn==1 and tp==1 and qt==0:
        query = "SELECT sum(total_price) ,brand_name,b.sale_date  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date in ("+str(t)+")  and h.brand_name in ("+str(gbn)+") group by b.article_id , h.brand_name,b.sale_date "
        f = spark.sql(query)
        f.show()
    # bn
    # quantity
    if cn==0 and scn==0 and bn==1 and tp==0 and qt==1:
        query = "SELECT sum(quantity) ,brand_name,b.sale_date  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date in ("+str(t)+")  and h.brand_name in ("+str(gbn)+") group by b.article_id , h.brand_name,b.sale_date "
        f = spark.sql(query)
        f.show()




    #all absent
    # number
    if cn==0 and scn==0 and bn==0 and nm==1:
        query = "SELECT count(*),b.sale_date  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date in ("+str(t)+") group by b.sale_date "
        #print(query)
        f = spark.sql(query)
        f.show()

    # qunatity + total price
    if cn==0 and scn==0 and bn==0 and tp==1 and qt==1 and nm==0:
        query = "SELECT sum(quantity) , sum(total_price),b.sale_date  from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date in ("+str(t)+") group by b.sale_date "
        f = spark.sql(query)
        f.show()

    # bn 
    #  total price
    if cn==0 and scn==0 and bn==0 and tp==1 and qt==0:
        query = "SELECT sum(total_price),b.sale_date   from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date in ("+str(t)+") group by b.sale_date "
        f = spark.sql(query)
        f.show()
    # bn
    # quantity
    if cn==0 and scn==0 and bn==0 and tp==0 and qt==1:
        query = "SELECT sum(quantity),b.sale_date   from bills as b join hierarchy as h where b.article_id = h.article_id and  b.sale_date in ("+str(t)+") group by b.sale_date "
        f = spark.sql(query)
        f.show()